.pictureMain {
    margin: 0px;
}

.pictureMain a {
    text-align: center;
}

.textField {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 40%;
    display: block;
    border-radius: 5px;
}

.searchInput {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(185, 185, 185, 0.54);
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
}

li a:hover {
    text-decoration: underline;
}

li a {
    display: block;
    color: #5f6368;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #5f6368;
}

.textParagraph {
    color: #5f6368;
}